<header class="bg-blue-500 py-4">
    <div class=" grid grid-cols-3 gap-4 ">
       <img class="ml-10  w-36 h-36 rounded-full items-center  "src="https://scontent.fcue2-1.fna.fbcdn.net/v/t39.30808-1/299716951_536987161549142_6907927125145385424_n.png?stp=dst-png_p320x320&_nc_cat=100&ccb=1-7&_nc_sid=596444&_nc_eui2=AeEcBXLLupwoR77JBiqrJUhBgTkNpB7yVDyBOQ2kHvJUPNrREKU_rituL82MsrTO7742k10SSb33yWMZi3ijmCjD&_nc_ohc=8CIUCwxatFEAX8oSl19&_nc_ht=scontent.fcue2-1.fna&oh=00_AfDPhhZpr_XwxAWtjwSiqIPmw43s-WlZ2dR7hXpaOuBOow&oe=65BD1F7B" alt="Escudo">
        <h1 class=" col-span-2 ml-28  font-serif text-left text-white mt-10 text-2xl font-bold " >Unidad Educativa "Corel <br>Matriculas 2023-2024"</h1>
     
    </div>
  </header>